__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
.env.local
.env
a.py
.venv
venv/
node_modules/
dist/
build/
.DS_Store
.vscode/
backend/client_secret.json
backend/.env
APPUNTI.MD
hotel.txt
.agent/
.claude/
.vscode/
brain/