fastapi
uvicorn
sqlmodel
psycopg2-binary
python-multipart
google-genai
supabase
python-dotenv
fastapi-mail
email-validator
requests
python-jose[cryptography]
passlib[bcrypt]
httpx<0.28.0
google-api-python-client
google-auth-oauthlib
fpdf2
pytest
pytest-asyncio
aiosqlite